        // - - - - - - - - - - Variables - - - - - - - - - //
        $white: #FFFFFF;
        $gold: #C5B270;
        $black: #603cba;
        $highlight: #D2D7D3;
        // - - - - - - - - - - Mixins - - - - - - - - - //
        @mixin h-center($position: relative) {
            position: $position;
            left: 50%;
            transform: translateX(-50%);
        }
        
        @mixin centerer($position: relative) {
            position: $position;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        @mixin inline($float:left) {
            position: relative;
            display: inline-block;
            float: $float;
        }
        
        // - - - - - - - - - - Global Styles - - - - - - - - - //
        body {
            font-family: 'Poiret One', cursive;
            margin: 0;
            background-color: $gold;
            .page-wrapper {
                position: relative;
                .intro {}
                header {
                    padding: 3em 0;
                    background-color: black;
                    background-image: url(../images/artDeco3.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    margin-bottom: 4em;
                    h1 {
                        color: $gold;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 5em;
                        margin: 0;
                        text-shadow: 0px 0px 3px white;
                    }
                    h2 {
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0;
                        color: white;
                    }
                }
                .summary {
                    width: 80%;
                    @include centerer;
                    margin-bottom: 6em;
                    p {
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.5em;
                        margin: 0;
                        a {
                            text-decoration: none;
                            color: $highlight;
                        }
                        a {
                            color: #highlight;
                            transition: all 0.2s linear;
                        }
                        a:hover,
                        a:focus {
                            color: black;
                        }
                    }
                }
                .preamble {
                    background-color: white;
                    width: 80%;
                    @include centerer;
                    border: 2px dotted black;
                    h3 {
                        text-align: center;
                        font-size: 1.5em;
                        font-weight: bold;
                    }
                    h3:before {
                        font-family: FontAwesome;
                        content: "\f219";
                    }
                    h3:after {
                        font-family: FontAwesome;
                        content: "\f219";
                    }
                    p {
                        margin: 0 1em 1em 1em;
                    }
                }
                #zen-supporting {
                    position: relative;
                    .explanation {
                        width: 45%;
                        @include inline;
                        margin-left: 5em;
                        h3 {
                            text-align: center;
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                        h3:before {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                        h3:after {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                    }
                    .participation {
                        width: 45%;
                        @include inline;
                        margin-bottom: 3em;
                        h3 {
                            text-align: center;
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                        h3:before {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                        h3:after {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                        p {
                            a {
                                text-decoration: none;
                                color: $highlight;
                            }
                            a:hover {
                                font-style: italic;
                            }
                        }
                    }
                    .benefits {
                        width: 80%;
                        margin-left: 5em;
                        h3 {
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                        h3:before {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                        h3:after {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                    }
                    .requirements {
                        width: 80%;
                        margin-left: 5em;
                        h3 {
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                        h3:before {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                        h3:after {
                            font-family: FontAwesome;
                            content: "\f219";
                        }
                        p {
                            a {
                                text-decoration: none;
                                color: $highlight;
                            }
                            a:hover {
                                font-style: italic;
                            }
                        }
                    }
                    footer {
                        width: 50%;
                        @include h-center;
                        font-size: 2em;
                        border-bottom: 2px dotted black;
                        margin-top: 2em;
                        margin-bottom: 5em;
                        a {
                            text-decoration: none;
                            color: $highlight;
                            margin-left: 2em;
                        }
                        a:hover {
                            font-style: italic;
                        }
                    }
                }
                .sidebar {
                    width: 80%;
                    @include centerer;
                    margin-top: 2em;
                    border: 2px dotted black;
                    background-color: white;
                    height: 17em;
                    .wrapper {
                        position: relative;
                        .design-selection {
                            @include inline;
                            margin-left: 2em;
                            h3 {
                                font-size: 1.5em;
                                font-weight: bold;
                            }
                            ul {
                                li {
                                    a {
                                        text-decoration: none;
                                        color: $highlight;
                                    }
                                }
                            }
                        }
                        .design-archives {
                            @include inline;
                            margin-left: 2em;
                            h3 {
                                font-size: 1.5em;
                                font-weight: bold;
                            }
                            ul {
                                li {
                                    a {
                                        text-decoration: none;
                                        color: $highlight;
                                    }
                                }
                            }
                        }
                        .zen-resources {
                            @include inline;
                            margin-left: 2em;
                            h3 {
                                font-size: 1.5em;
                                font-weight: bold;
                            }
                            ul {
                                li {
                                    a {
                                        text-decoration: none;
                                        color: $highlight;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
